In [1]:
# import the required library for cleaning the dataset given by Apana_time 
import pandas as pd

In [2]:
# Step 1: Load the Excel dataset
df = pd.read_excel("Data set (2).xlsx")
df.head(5)

,Date,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
0,2020-04-02,41.00,53.22,64.7,97.56,60.50,25.32,29.94,26.16,40.40,14.58,45060.69,35562.37,2.860,0.05411,1.552,81.14,6.935,NaN
1,2020-04-03,40.34,52.36,63.1,70.57,62.03,28.34,34.11,29.39,39.21,14.14,44598.70,35258.30,2.845,0.05245,1.621,80.99,6.920,45.02
2,2020-04-06,40.34,52.36,63.1,70.57,62.03,26.08,33.05,27.45,40.47,14.26,46240.35,37032.31,2.850,0.05351,1.731,84.43,7.285,NaN
3,2020-04-07,40.34,52.36,63.1,70.57,62.03,23.63,31.87,26.00,41.24,14.46,47496.72,38362.12,2.805,0.05457,1.852,82.30,7.285,48.32
4,2020-04-08,40.34,52.36,63.1,70.57,62.03,25.09,32.84,26.16,43.85,14.24,46689.90,37469.17,2.810,0.05493,1.783,85.34,7.260,45.75

In [8]:
# Step 2: Finding the Missing Value with Percentage as well
missing_values = df.isnull().sum()
missing_percent = (df.isnull().sum() / len(df)) * 100

# Showing both in one table
missing_summary = pd.DataFrame({'Missing Values': missing_values, 'Percentage (%)': missing_percent})
print(missing_summary)

                                      Missing Values  Percentage (%)
Date                                               0        0.000000
Coal_RB_4800_FOB_London_Close_USD                 39        3.523035
Coal_RB_5500_FOB_London_Close_USD                 39        3.523035
Coal_RB_5700_FOB_London_Close_USD                 39        3.523035
Coal_RB_6000_FOB_CurrentWeek_Avg_USD              23        2.077687
Coal_India_5500_CFR_London_Close_USD              39        3.523035
Price_WTI                                          8        0.722674
Price_Brent_Oil                                   11        0.993677
Price_Dubai_Brent_Oil                             40        3.613369
Price_ExxonMobil                                  40        3.613369
Price_Shenhua                                     65        5.871725
Price_All_Share                                   49        4.426378
Price_Mining                                      49        4.426378
Price_LNG_Japan_Korea_Marker_PLATTS               41        3.703704
Price_ZAR_USD                                      0        0.000000
Price_Natural_Gas                                  8        0.722674
Price_ICE                                         40        3.613369
Price_Dutch_TTF                                   31        2.800361
Price_Indian_en_exg_rate                          60        5.420054

In [9]:
# Step 3: Replace all missing (null) values with the mean of that column
df.fillna(df.mean(numeric_only=True), inplace=True)

In [10]:
# Check again if any null values remain
print(df.isnull().sum())

Date                                    0
Coal_RB_4800_FOB_London_Close_USD       0
Coal_RB_5500_FOB_London_Close_USD       0
Coal_RB_5700_FOB_London_Close_USD       0
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    0
Coal_India_5500_CFR_London_Close_USD    0
Price_WTI                               0
Price_Brent_Oil                         0
Price_Dubai_Brent_Oil                   0
Price_ExxonMobil                        0
Price_Shenhua                           0
Price_All_Share                         0
Price_Mining                            0
Price_LNG_Japan_Korea_Marker_PLATTS     0
Price_ZAR_USD                           0
Price_Natural_Gas                       0
Price_ICE                               0
Price_Dutch_TTF                         0
Price_Indian_en_exg_rate                0
dtype: int64

In [11]:
# Step 4 : Save the Clean Dataset
df.to_excel("Cleaned_Data.xlsx", index=False)
print("Cleaned file saved successfully!")

Cleaned file saved successfully!

#### Performing EDA i.e. Exploratory Data Analysis

###### 1. Measures of Central Tendency → Mean, Median, Mode

###### 2. Measures of Dispersion → Variance, Standard Deviation, Range

###### 3. Shape of Distribution → Skewness, Kurtosis

In [12]:
# Read the clean dataset 
clean_data = pd.read_excel("Cleaned_Data.xlsx")
clean_data.head(10)

,Date,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
0,2020-04-02,41.000000,53.220000,64.700000,97.560000,60.50000,25.320000,29.94000,26.160000,40.400000,14.580000,45060.690000,35562.370000,2.860000,0.05411,1.552000,81.140000,6.935000,141.616027
1,2020-04-03,40.340000,52.360000,63.100000,70.570000,62.03000,28.340000,34.11000,29.390000,39.210000,14.140000,44598.700000,35258.300000,2.845000,0.05245,1.621000,80.990000,6.920000,45.020000
2,2020-04-06,40.340000,52.360000,63.100000,70.570000,62.03000,26.080000,33.05000,27.450000,40.470000,14.260000,46240.350000,37032.310000,2.850000,0.05351,1.731000,84.430000,7.285000,141.616027
3,2020-04-07,40.340000,52.360000,63.100000,70.570000,62.03000,23.630000,31.87000,26.000000,41.240000,14.460000,47496.720000,38362.120000,2.805000,0.05457,1.852000,82.300000,7.285000,48.320000
4,2020-04-08,40.340000,52.360000,63.100000,70.570000,62.03000,25.090000,32.84000,26.160000,43.850000,14.240000,46689.900000,37469.170000,2.810000,0.05493,1.783000,85.340000,7.260000,45.750000
5,2020-04-09,33.820000,43.580000,54.810000,59.570000,54.74000,22.760000,31.48000,23.260000,43.130000,14.160000,48011.560000,38905.320000,2.805000,0.05544,1.733000,87.380000,7.280000,48.330000
6,2020-04-10,87.953184,113.353155,134.971807,144.351494,123.75971,72.345469,76.28302,74.752493,80.871012,21.274702,68736.904811,52972.178374,17.622529,0.05561,3.697999,112.756111,57.384856,141.616027
7,2020-04-13,87.953184,113.353155,134.971807,59.570000,123.75971,22.410000,31.74000,24.740000,42.760000,21.274702,68736.904811,52972.178374,2.805000,0.05516,1.724000,85.180000,7.280000,47.750000
8,2020-04-14,33.820000,43.580000,54.810000,59.570000,54.74000,20.110000,29.60000,21.960000,42.430000,14.360000,49874.510000,41941.820000,2.800000,0.05454,1.650000,87.000000,6.875000,141.616027
9,2020-04-15,33.820000,43.580000,54.810000,59.570000,54.74000,19.870000,27.69000,21.460000,40.480000,14.120000,48301.280000,40023.440000,2.795000,0.05343,1.598000,86.250000,6.650000,49.250000

In [14]:
# Step1: Measures of Central Tendency
# 1.1 Mean (average)
mean_values = clean_data.mean(numeric_only=True)
print("Mean:\n", mean_values)

Mean:
 Coal_RB_4800_FOB_London_Close_USD          87.953184
Coal_RB_5500_FOB_London_Close_USD         113.353155
Coal_RB_5700_FOB_London_Close_USD         134.971807
Coal_RB_6000_FOB_CurrentWeek_Avg_USD      144.351494
Coal_India_5500_CFR_London_Close_USD      123.759710
Price_WTI                                  72.345469
Price_Brent_Oil                            76.283020
Price_Dubai_Brent_Oil                      74.752493
Price_ExxonMobil                           80.871012
Price_Shenhua                              21.274702
Price_All_Share                         68736.904811
Price_Mining                            52972.178374
Price_LNG_Japan_Korea_Marker_PLATTS        17.622529
Price_ZAR_USD                               0.059943
Price_Natural_Gas                           3.697999
Price_ICE                                 112.756111
Price_Dutch_TTF                            57.384856
Price_Indian_en_exg_rate                  141.616027
dtype: float64

In [17]:
# 1.2 Median (Middle Value)
median_values = clean_data.median(numeric_only=True)
print("\nMedian:\n", median_values)

Median:
 Coal_RB_4800_FOB_London_Close_USD          77.810000
Coal_RB_5500_FOB_London_Close_USD          97.280000
Coal_RB_5700_FOB_London_Close_USD         110.940000
Coal_RB_6000_FOB_CurrentWeek_Avg_USD      115.630000
Coal_India_5500_CFR_London_Close_USD      111.680000
Price_WTI                                  75.570000
Price_Brent_Oil                            79.670000
Price_Dubai_Brent_Oil                      78.180000
Price_ExxonMobil                           84.810000
Price_Shenhua                              21.850000
Price_All_Share                         69401.950000
Price_Mining                            52972.178374
Price_LNG_Japan_Korea_Marker_PLATTS        13.335000
Price_ZAR_USD                               0.058720
Price_Natural_Gas                           2.879000
Price_ICE                                 112.420000
Price_Dutch_TTF                            36.780000
Price_Indian_en_exg_rate                  141.616027
dtype: float64

In [20]:
# 1.3 Mode (most frequent value)
mode_values = clean_data.mode(numeric_only=True).iloc[0] # Using iloc[0] to select the first row because clean_data.mode() can return multiple mode values
print("\nMode:\n", mode_values)

Mode:
 Coal_RB_4800_FOB_London_Close_USD          87.953184
Coal_RB_5500_FOB_London_Close_USD         113.353155
Coal_RB_5700_FOB_London_Close_USD         134.971807
Coal_RB_6000_FOB_CurrentWeek_Avg_USD      144.351494
Coal_India_5500_CFR_London_Close_USD      123.759710
Price_WTI                                  72.345469
Price_Brent_Oil                            76.283020
Price_Dubai_Brent_Oil                      74.752493
Price_ExxonMobil                           80.871012
Price_Shenhua                              21.274702
Price_All_Share                         68736.904811
Price_Mining                            52972.178374
Price_LNG_Japan_Korea_Marker_PLATTS        17.622529
Price_ZAR_USD                               0.052730
Price_Natural_Gas                           3.697999
Price_ICE                                 112.756111
Price_Dutch_TTF                            57.384856
Price_Indian_en_exg_rate                  141.616027
Name: 0, dtype: float64

In [21]:
# Step2: Measures of Dispersion
# 2.1 Variance
variance = clean_data.var(numeric_only=True)
print("\nVariance:\n", variance)

Variance:
 Coal_RB_4800_FOB_London_Close_USD       2.158715e+03
Coal_RB_5500_FOB_London_Close_USD       3.841868e+03
Coal_RB_5700_FOB_London_Close_USD       5.790329e+03
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    6.827288e+03
Coal_India_5500_CFR_London_Close_USD    3.079917e+03
Price_WTI                               4.215120e+02
Price_Brent_Oil                         4.251792e+02
Price_Dubai_Brent_Oil                   4.052808e+02
Price_ExxonMobil                        7.433843e+02
Price_Shenhua                           3.544100e+01
Price_All_Share                         6.007824e+07
Price_Mining                            4.733378e+07
Price_LNG_Japan_Korea_Marker_PLATTS     1.557187e+02
Price_ZAR_USD                           3.681609e-05
Price_Natural_Gas                       3.664219e+00
Price_ICE                               1.816855e+02
Price_Dutch_TTF                         2.764264e+03
Price_Indian_en_exg_rate                2.772874e+03
dtype: float64

In [22]:
# 2.2 Standard Deviation
std_dev = clean_data.std(numeric_only=True)
print("\nStandard Deviation:\n", std_dev)

Standard Deviation:
 Coal_RB_4800_FOB_London_Close_USD         46.461976
Coal_RB_5500_FOB_London_Close_USD         61.982802
Coal_RB_5700_FOB_London_Close_USD         76.094209
Coal_RB_6000_FOB_CurrentWeek_Avg_USD      82.627404
Coal_India_5500_CFR_London_Close_USD      55.497003
Price_WTI                                 20.530757
Price_Brent_Oil                           20.619874
Price_Dubai_Brent_Oil                     20.131586
Price_ExxonMobil                          27.265075
Price_Shenhua                              5.953235
Price_All_Share                         7751.015722
Price_Mining                            6879.955280
Price_LNG_Japan_Korea_Marker_PLATTS       12.478731
Price_ZAR_USD                              0.006068
Price_Natural_Gas                          1.914215
Price_ICE                                 13.479077
Price_Dutch_TTF                           52.576264
Price_Indian_en_exg_rate                  52.658082
dtype: float64

In [24]:
# 2.3 Range
range_values = clean_data.max(numeric_only=True) - df.min(numeric_only=True)
print("\nRange:\n", range_values)

Range:
 Coal_RB_4800_FOB_London_Close_USD         274.34000
Coal_RB_5500_FOB_London_Close_USD         325.68000
Coal_RB_5700_FOB_London_Close_USD         367.66000
Coal_RB_6000_FOB_CurrentWeek_Avg_USD      383.69000
Coal_India_5500_CFR_London_Close_USD      271.08000
Price_WTI                                 161.33000
Price_Brent_Oil                           108.65000
Price_Dubai_Brent_Oil                     103.46000
Price_ExxonMobil                           90.63000
Price_Shenhua                              28.24000
Price_All_Share                         36192.66000
Price_Mining                            39927.46000
Price_LNG_Japan_Korea_Marker_PLATTS        67.96000
Price_ZAR_USD                               0.02388
Price_Natural_Gas                           8.16500
Price_ICE                                  58.44000
Price_Dutch_TTF                           335.68500
Price_Indian_en_exg_rate                  250.23000
dtype: float64

In [26]:
# Step 3 : Shape of Distribution
# 3.1 Skewness (Skewness tells whether your data leans more towards the left or right side of the average.)
skewness = clean_data.skew(numeric_only=True)
print("\nSkewness:\n", skewness)

Skewness:
 Coal_RB_4800_FOB_London_Close_USD       1.336514
Coal_RB_5500_FOB_London_Close_USD       1.283273
Coal_RB_5700_FOB_London_Close_USD       1.301123
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    1.282849
Coal_India_5500_CFR_London_Close_USD    0.877831
Price_WTI                              -0.538292
Price_Brent_Oil                        -0.431779
Price_Dubai_Brent_Oil                  -0.570439
Price_ExxonMobil                       -0.211281
Price_Shenhua                           0.583106
Price_All_Share                        -0.839517
Price_Mining                            0.295003
Price_LNG_Japan_Korea_Marker_PLATTS     1.104863
Price_ZAR_USD                           0.347963
Price_Natural_Gas                       1.264581
Price_ICE                               0.227101
Price_Dutch_TTF                         1.744003
Price_Indian_en_exg_rate                0.381738
dtype: float64

In [27]:
# 3.2 Kurtosis (Kurtosis measures how tall or flat your data distribution is compared to a normal bell curve.)
kurtosis = clean_data.kurtosis(numeric_only=True)
print("\nKurtosis:\n", kurtosis)

Kurtosis:
 Coal_RB_4800_FOB_London_Close_USD       2.303051
Coal_RB_5500_FOB_London_Close_USD       1.277939
Coal_RB_5700_FOB_London_Close_USD       0.950956
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    0.796499
Coal_India_5500_CFR_London_Close_USD    0.292082
Price_WTI                               0.836003
Price_Brent_Oil                         0.005253
Price_Dubai_Brent_Oil                   0.072906
Price_ExxonMobil                       -1.429608
Price_Shenhua                           0.209243
Price_All_Share                         0.013746
Price_Mining                           -0.240241
Price_LNG_Japan_Korea_Marker_PLATTS     0.935122
Price_ZAR_USD                          -1.217152
Price_Natural_Gas                       0.686998
Price_ICE                              -0.796873
Price_Dutch_TTF                         3.325359
Price_Indian_en_exg_rate                0.075783
dtype: float64

In [29]:
# Saving the summary of eda in one excel file
eda_summary = pd.DataFrame({
    'Mean': mean_values,
    'Median': median_values,
    'Mode': mode_values,
    'Variance': variance,
    'Std_Dev': std_dev,
    'Range': range_values,
    'Skewness': skewness,
    'Kurtosis': kurtosis
})

eda_summary.to_excel("EDA_Results.xlsx")
print("EDA results saved successfully!")

EDA results saved successfully!